<% if(message) { %>
  <div style="text-align: center" class="alert alert-<%=message.type %>">
    <strong><%= message.intro %></strong>
    <span><%= message.message %></span>
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
  </div>
<% } %>

<% if(additional_message) { %>
  <div style="text-align: center" class="alert alert-<%=additional_message.type %>">
    <strong><%= additional_message.intro %></strong>
    <span><%= additional_message.message %></span>
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
  </div>
<% } %>

<div class="col-lg">
  <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-primary">Your cart</span>
    <span class="badge bg-primary rounded-pill">
      <% if(cart.totalQty) { %>
        <%=cart.totalQty %>
      <% } else { %>
        <%=0 %>
      <% } %>
    </span>
  </h4>
  <ul class="list-group mb-3">
    <% for(const item in cart.items) {%>
    
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <span class="my-0"><%- cart.items[item].item.name %></span>
        </div>
        <div class="d-flex">
          <form action="/remove" method="POST" class="mx-2">
            <input type="hidden" name="id" value="<%=item %>">
            <button class="btn btn-outline-danger btn-sm" style="font-size: 0.8em;">Remove</button>
          </form>
          <span class="text-muted"><%- cart.items[item].price %> zł</span>
        </div>
      </li>
    <% } %>
    
    <li class="list-group-item d-flex justify-content-between">
      <h6 class="my-0">Total (PLN)</h6>
      <strong>
        <% if(cart.totalPrice) { %>
          <%=cart.totalPrice %> zł
        <% } else { %>
          <%= 0%> zł
        <% } %>
        </strong>
    </li>
  </ul>
  <div class="d-flex justify-content-end">
    <form action="/remove-all" method="POST" class="mx-2">
      <input type="hidden">
      <button type="submit" class="btn btn-outline-danger">Remove all</button>
  </form>
    <form action="/buy" method="POST">
        <input type="hidden" name="buy" value="<%- cart.items %>">
        <button type="submit" class="btn btn-secondary" style="width: 75px">Buy</button>
    </form>
  </div>
</div>