<% if(message) { %>
  <div style="text-align: center" class="alert alert-<%=message.type %>">
    <strong><%= message.intro %></strong>
    <span><%= message.message %></span>
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
  </div>
<% } %>

<% if(additional_message) { %>
  <div style="text-align: center" class="alert alert-<%=additional_message.type %>">
    <strong><%= additional_message.intro %></strong>
    <span><%= additional_message.message %></span>
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
  </div>
<% } %>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <% if(phones != '') { %>
    <% phones.forEach(function(phone, index) { %>
      <div class="col">
        <div class="card shadow">
          <img src="img/<%- phone.image %>" alt="<%- phone.name %>" loading="lazy">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center my-3">
              <span class="card-text"><%- phone.name %></span>
              <span class="card-text">In stock: <%- phone.quantity %></span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <form action="/add-to-cart" method="POST">
                <input type="hidden" name="id" value="<%=phone.id %>">
                <button class="btn btn-sm btn-dark p-2">Add to cart</button>
              </form>
              <span class="text-dark"><%- phone.price %> zł</span>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  <% } %>